header {
    background-color: lightblue;
    color: #032565;
    font-size: 200%;
    text-align: center;
    padding: 1em 0;
    margin-bottom: 1em;
}

footer {
    background-color: lightblue;
    color: #032565;
    text-align: center;
    padding: 1em 0;
    margin-top: 2em;
}